@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.dottedBackground {
  background-color: #ffffff;
  background-image: radial-gradient(#000000 2px, transparent 2px),
    radial-gradient(#000000 2px, #ffffff 2px);
  background-size: 80px 80px;
  background-position: 0 0, 40px 40px;
  min-height: 100vh;
}